# CMake
build/*

# CSharp
src/FGDGenerator/FGD/*
src/FGDGenerator/bin/*
src/FGDGenerator/obj/*
halflife-unified-sdk.sln

# JACK crap
src/mapsrc/*.max
src/mapsrc/*.rmx
# Let's use .map as is not binary.
src/mapsrc/*.rmf

# Stuff
stuff/*
